<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.URFitness"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.URFitness.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.URFitness.Weight_Activity"
            android:label="URFit" >
        </activity>
        <activity
            android:name="com.URFitness.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.URFitness.BuddylistActivity"
            android:label="@string/title_activity_buddylist" >
        </activity>
        <activity
            android:name="com.URFitness.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name="com.URFitness.WeightOptionsActivity"
            android:label="WeightOptionsActivity" >
        </activity>
        <activity
            android:name="com.URFitness.CardioOptionsActivity"
            android:label="@string/title_activity_cardio_options" >
        </activity>

        <uses-permission android:name="android.permission.INTERNET" />

        <activity
            android:name="com.URFitness.FindBuddy"
            android:label="FindBuddy" >
        </activity>
        <activity
            android:name="com.URFitness.OtherProfileActivity"
            android:label="@string/title_activity_other_profile" >
        </activity>
        <activity
            android:name="com.URFitness.FindBuddyActivity"
            android:label="@string/title_activity_find_buddy" >
        </activity>
    </application>

</manifest>
